# =========================App Info=========================
APP_NAME=APP_NAME
APP_URL=APP_URL
APP_INSTAGRAM_LINK=APP_INSTAGRAM_LINK
APP_LINKEDIN_LINK=APP_LINKEDIN_LINK
APP_X_LINK=APP_X_LINK
APP_DESCRIPTION=APP_DESCRIPTION
APP_VERSION=APP_VERSION


# =========================Mehkam Info=========================
MEHKAM_LEGAL_NAME=MEHKAM_LEGAL_NAME
MEHKAM_TRADE_NAME=MEHKAM_TRADE_NAME
MEHKAM_REGISTRATION_NUMBER=MEHKAM_REGISTRATION_NUMBER
MEHKAM_TAX_NUMBER=MEHKAM_TAX_NUMBER
MEHKAM_NATIONAL_ID=MEHKAM_NATIONAL_ID


# =========================Chasha Info=========================
CHASHA_LEGAL_NAME=CHASHA_LEGAL_NAME
CHASHA_TRADE_NAME=CHASHA_TRADE_NAME
CHASHA_REGISTRATION_NUMBER=CHASHA_REGISTRATION_NUMBER
CHASHA_TAX_NUMBER=CHASHA_TAX_NUMBER
CHASHA_NATIONAL_ID=CHASHA_NATIONAL_ID


# =========================Rate Limiting=========================
API_RATE_LIMIT_WINDOW=API_RATE_LIMIT_WINDOW
API_RATE_LIMIT_MAX=API_RATE_LIMIT_MAX


# =========================Environment=========================
NODE_ENV=NODE_ENV
PORT=PORT
LOG_LEVEL=LOG_LEVEL


# =========================Swagger / API Docs=========================
OPEN_API_ENABLED=OPEN_API_ENABLED
OPEN_API_URL=OPEN_API_URL


# =========================Database Connection=========================
DATABASE_DIALECT=DATABASE_DIALECT
DATABASE_LOGGING=DATABASE_LOGGING


# ---- Master Database ----
DATABASE_MASTER_HOST=DATABASE_MASTER_HOST
DATABASE_MASTER_PORT=DATABASE_MASTER_PORT
DATABASE_MASTER_USER=DATABASE_MASTER_USER
DATABASE_MASTER_PASSWORD=DATABASE_MASTER_PASSWORD
DATABASE_MASTER_NAME=DATABASE_MASTER_NAME
DATABASE_MASTER_URL=DATABASE_MASTER_URL


# ---- Replica Database ----
DATABASE_REPLICA_HOST=DATABASE_REPLICA_HOST
DATABASE_REPLICA_PORT=DATABASE_REPLICA_PORT
DATABASE_REPLICA_USER=DATABASE_REPLICA_USER
DATABASE_REPLICA_PASSWORD=DATABASE_REPLICA_PASSWORD
DATABASE_REPLICA_NAME=DATABASE_REPLICA_NAME


# ---- Connection Pooling Settings ----
DB_POOL_MASTER_CONNECTION_LIMIT=DB_POOL_MASTER_CONNECTION_LIMIT
DB_POOL_REPLICA_CONNECTION_LIMIT=DB_POOL_REPLICA_CONNECTION_LIMIT
DB_POOL_QUEUE_LIMIT=DB_POOL_QUEUE_LIMIT


# ---- Security & Timeout ----
DATABASE_SSL=DATABASE_SSL
DATABASE_CONNECTION_TIMEOUT=DATABASE_CONNECTION_TIMEOUT
DATABASE_QUERY_TIMEOUT=DATABASE_QUERY_TIMEOUT


# =========================MeliPayamak Auth=========================
MELI_PAYAMAK_API_URL=MELI_PAYAMAK_API_URL
MELI_PAYAMAK_API_KEY=MELI_PAYAMAK_API_KEY
MELI_PAYAMAK_USERNAME=MELI_PAYAMAK_USERNAME
MELI_PAYAMAK_PASSWORD=MELI_PAYAMAK_PASSWORD
MELI_PAYAMAK_BASE_NUMBER=MELI_PAYAMAK_BASE_NUMBER


# =========================Message Broker - RabbitMQ=========================
RABBITMQ_USER=RABBITMQ_USER
RABBITMQ_URL=RABBITMQ_URL
RABBITMQ_DEFAULT_PASS=RABBITMQ_DEFAULT_PASS


# =========================ArvanCloud Client=========================
ARVAN_ENDPOINT=ARVAN_ENDPOINT
ARVAN_ACCESS_KEY=ARVAN_ACCESS_KEY
ARVAN_SECRET_KEY=ARVAN_SECRET_KEY
ARVAN_BUCKET_NAME=ARVAN_BUCKET_NAME


# =========================Auth=========================
BCRYPT_SALT=BCRYPT_SALT

JWT_REFRESH_TOKEN_SECRET_KEY=JWT_REFRESH_TOKEN_SECRET_KEY
JWT_ACCESS_TOKEN_SECRET_KEY=JWT_ACCESS_TOKEN_SECRET_KEY

JWT_REFRESH_TOKEN_EXPIRES_AT=JWT_REFRESH_TOKEN_EXPIRES_AT
JWT_ACCESS_TOKEN_EXPIRES_AT=JWT_ACCESS_TOKEN_EXPIRES_AT

# =========================Platform Admin Authentication=========================
PLATFORM_ADMIN_LOGIN_WITH_PHONE_OTP_EXPIRES_IN_SECONDS=PLATFORM_ADMIN_LOGIN_WITH_PHONE_OTP_EXPIRES_IN_SECONDS
PLATFORM_ADMIN_LOGIN_SESSION_EXPIRES_IN_SECONDS=PLATFORM_ADMIN_LOGIN_SESSION_EXPIRES_IN_SECONDS

# =========================Platform Admin Authentication=========================
BUSINESS_EMPLOYEE_FORGOT_PASSWORD_EXPIRES_IN_SECONDS=BUSINESS_EMPLOYEE_FORGOT_PASSWORD_EXPIRES_IN_SECONDS