{
  "openapi": "3.2.0",
  "info": {
    "title": "Chasha Platform API",
    "summary": "Official REST API Documentation for Chasha Platform",
    "description": "The official REST API powering the Chasha Restaurant Operating System.\n\nThis API enables platform administration, restaurant management, authentication, ordering, QR menu, kitchen workflow, notifications, and future platform services.\n\nAll endpoints follow REST principles and return standardized JSON responses.\n\nAuthentication supports both Cookie-based and Bearer Token authorization depending on client platform.",
    "version": "1.0.0",
    "termsOfService": "https://docs.chaasha.ir/terms",
    "contact": {
      "name": "Mehkam Technology",
      "url": "https://mehkam.ir",
      "email": "backend@mehkam.ir"
    },
    "license": {
      "name": "Private License",
      "url": "https://docs.chaasha.ir/license"
    }
  },
  "externalDocs": {
    "description": "Complete Developer Documentation",
    "url": "https://docs.chaasha.ir"
  },
  "servers": [
    {
      "url": "https://api.chaasha.ir/api/v1",
      "description": "Production Server"
    },
    {
      "url": "https://staging-api.chaasha.ir/api/v1",
      "description": "Staging Server"
    },
    {
      "url": "https://develop-api.chaasha.ir/api/v1",
      "description": "Development Server"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local Development"
    }
  ],
  "tags": [
    {
      "name": "Platform Admin Authentication",
      "description": "Authentication endpoints for Platform Administrators including login, OTP verification, token generation, logout, refresh token and password recovery."
    },
    {
      "name": "Business Authentication",
      "description": "Authentication endpoints for business employees including login, token generation, refresh and logout."
    },
    {
      "name": "Global Early Access Requests",
      "description": "Public endpoints for creating and managing Chasha Early Access requests."
    },
    {
      "name": "Admin Early Access Requests",
      "description": "Authenticated and permission-controlled endpoints for Platform Administrators to search, filter, and retrieve Early Access Requests."
    },
    {
      "name": "Global FAQ",
      "description": "Public endpoints for retrieving Chasha frequently asked questions."
    }
  ],
  "paths": {
    "{language_prefix}/admin/auth/login/with-phone": {
      "post": {
        "tags": ["Platform Admin Authentication"],
        "summary": "Login with phone number",
        "description": "Starts the Platform Administrator authentication process.\n\nThis endpoint validates the administrator credentials (phone number and password).\n\nIf the credentials are valid:\n- Creates a temporary login session.\n- Generates a six-digit OTP.\n- Stores the session in cache.\n- Returns a temporary loginSession identifier.\n\nThe returned loginSession must be used during OTP verification.\n\nIf there is already an active login session for this phone number, the API returns an error asking the client to continue the existing verification process instead of creating a new one.",
        "operationId": "loginWithPhoneNumberPlatformAdmin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWithPhoneNumberPlatformAdminRequest"
              },
              "examples": {
                "login": {
                  "summary": "Valid request",
                  "value": {
                    "loginPhoneNumber": "09123456789",
                    "loginPassword": "StrongPassword123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login session created successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginWithPhoneNumberPlatformAdminResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Session Created",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Mehkam_Company",
                      "message": "Operation completed successfully.",
                      "data": {
                        "loginSession": "2a8e43dc-be17-4d02-8820-daa3638168b1",
                        "loginOtpExpiresTimer": 120
                      },
                      "timeStamp": "2026-07-28T19:01:15.281Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or business rule violation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidPhoneNumber": {
                    "summary": "Phone Number Validation",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "loginPhoneNumber": ["Phone number must contain exactly 11 digits and start with 09."]
                      },
                      "timeStamp": "2026-07-28T19:01:46.652Z",
                      "version": "0.1.0"
                    }
                  },
                  "WrongPassword": {
                    "summary": "Incorrect Password",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Data conflict.",
                      "errorCode": "E1090",
                      "errors": {
                        "loginPassword": ["Password is incorrect."]
                      },
                      "timeStamp": "2026-07-28T19:01:22.197Z",
                      "version": "0.1.0"
                    }
                  },
                  "AlreadyInQueue": {
                    "summary": "Existing Login Session",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Data conflict.",
                      "errorCode": "E1090",
                      "errors": {
                        "error_message": ["Your login request is already in progress. Please return to the verification page and enter your OTP."]
                      },
                      "timeStamp": "2026-07-28T19:01:22.197Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Platform administrator not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "value": {
                      "status": 404,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Requested resource was not found.",
                      "errorCode": "E1020",
                      "errors": {
                        "loginPhoneNumber": ["Platform administrator with this phone number does not exist."]
                      },
                      "timeStamp": "2026-07-28T19:01:27.765Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "{language_prefix}/admin/auth/login/with-phone/verify": {
      "post": {
        "tags": ["Platform Admin Authentication"],
        "summary": "Verify login OTP",
        "description": "Completes the Platform Administrator authentication process.\n\nThis endpoint validates the temporary login session and verifies the one-time password (OTP).\n\nVerification flow:\n\n1. Validates request body.\n2. Finds temporary login session.\n3. Checks session expiration.\n4. Validates OTP.\n5. Finds Platform Administrator.\n6. Creates a permanent authenticated session.\n7. Generates JWT Access Token.\n8. Generates JWT Refresh Token.\n9. Stores hashed Refresh Token inside Platform Admin Session.\n10. Deletes temporary login cache.\n\nClient behavior:\n\n• Web Client:\n- Access Token is returned as HttpOnly Cookie.\n- Refresh Token is returned as HttpOnly Cookie.\n- Response data is null.\n\n• Mobile Client:\n- Access Token is returned inside response body.\n- Refresh Token is returned inside response body.\n\nThe client platform is determined using the 'x-platform' request header.\n\nAccepted values:\n- web\n- mobile",
        "operationId": "verifyPlatformAdminLogin",
        "parameters": [
          {
            "name": "x-platform",
            "in": "header",
            "required": false,
            "description": "Client platform.",
            "schema": {
              "type": "string",
              "enum": ["web", "mobile"],
              "default": "web"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginVerifyPlatformAdminRequest"
              },
              "examples": {
                "verify": {
                  "summary": "Verify Login",
                  "value": {
                    "loginVerifySessionId": "2a8e43dc-be17-4d02-8820-daa3638168b1",
                    "loginVerifyPhoneNumber": "09123456789",
                    "loginVerifyOtp": "482913"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication completed successfully.",
            "headers": {
              "Set-Cookie": {
                "description": "Only returned for Web platform. Contains Access Token and Refresh Token as HttpOnly cookies.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "Web": {
                    "summary": "Web Client",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Mehkam_Company",
                      "message": "Operation completed successfully.",
                      "data": null,
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  },
                  "Mobile": {
                    "summary": "Mobile Client",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Mehkam_Company",
                      "message": "Operation completed successfully.",
                      "data": {
                        "loginVerifyAccessToken": "eyJhbGciOiJIUzI1NiIs...",
                        "loginVerifyRefreshToken": "eyJhbGciOiJIUzI1NiIs..."
                      },
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or verification failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidSessionId": {
                    "summary": "Invalid Session Id",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "loginVerifySessionId": ["Session identifier must be a valid UUID."]
                      },
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  },
                  "InvalidPhoneNumber": {
                    "summary": "Phone Validation",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "loginVerifyPhoneNumber": ["Phone number format is invalid."]
                      },
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  },
                  "InvalidOTPFormat": {
                    "summary": "OTP Validation",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "loginVerifyOtp": ["OTP must contain exactly 6 digits."]
                      },
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  },
                  "WrongOTP": {
                    "summary": "Wrong OTP",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Data conflict.",
                      "errorCode": "E1090",
                      "errors": {
                        "loginVerifyOtp": ["Verification code is incorrect."]
                      },
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session or Platform Administrator not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SessionExpired": {
                    "summary": "Session Expired",
                    "value": {
                      "status": 404,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Requested resource was not found.",
                      "errorCode": "E1020",
                      "errors": {
                        "loginVerifyPhoneNumber": ["Login session has expired or does not exist."]
                      },
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  },
                  "PlatformAdminNotFound": {
                    "summary": "Administrator Not Found",
                    "value": {
                      "status": 404,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Requested resource was not found.",
                      "errorCode": "E1020",
                      "errors": {
                        "loginVerifyPhoneNumber": ["Platform administrator was not found."]
                      },
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "{language_prefix}/admin/auth/login/with-phone/resend-otp": {
      "post": {
        "tags": ["Platform Admin Authentication"],
        "summary": "Resend login OTP",
        "description": "Generates a new OTP for an existing Platform Administrator login session.\n\nThis endpoint is used when the previous OTP has expired.\n\nFlow:\n\n1. Validates phone number and session identifier.\n2. Finds existing temporary login session.\n3. Checks session ownership.\n4. Validates previous OTP expiration.\n5. Generates a new six-digit OTP.\n6. Updates login session cache.\n7. Returns new OTP expiration timer.\n\nThe existing loginSession identifier remains unchanged and must continue to be used for OTP verification.",
        "operationId": "loginResendOtpPlatformAdmin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginResendOtpPlatformAdminRequest"
              },
              "examples": {
                "resendOtp": {
                  "summary": "Resend OTP Request",
                  "value": {
                    "loginResendOtpPhoneNumber": "09123456789",
                    "loginResendOtpSessionId": "2a8e43dc-be17-4d02-8820-daa3638168b1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP regenerated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResendOtpPlatformAdminResponse"
                },
                "examples": {
                  "success": {
                    "summary": "OTP Resent",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Mehkam_Company",
                      "message": "Operation completed successfully.",
                      "data": {
                        "loginResendOtpExpiresTimer": 120
                      },
                      "timeStamp": "2026-07-29T18:30:15.281Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or OTP is still valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Login session was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "{language_prefix}/admin/auth/refresh-token": {
      "post": {
        "tags": ["Platform Admin Authentication"],
        "summary": "Refresh platform administrator authentication tokens",
        "description": "Generates new authentication tokens for a Platform Administrator using the refresh token stored in HttpOnly Cookie.\n\nRefresh token lifecycle:\n\n1. Reads refresh token from HttpOnly Cookie.\n2. Validates refresh token signature.\n3. Checks token ownership.\n4. Finds Platform Administrator session.\n5. Validates session expiration.\n6. Compares stored hashed refresh token.\n7. Rotates refresh token.\n8. Updates session activity and expiration time.\n9. Sets new Access Token and Refresh Token as HttpOnly Cookies.\n\nThe response body does not contain authentication tokens.",
        "operationId": "refreshPlatformAdminToken",
        "parameters": [
          {
            "name": "x-platform",
            "in": "header",
            "required": false,
            "description": "Client platform type.",
            "schema": {
              "type": "string",
              "enum": ["web"],
              "default": "web"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tokens refreshed successfully.",
            "headers": {
              "Set-Cookie": {
                "description": "New Access Token and Refresh Token are returned as HttpOnly cookies.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": null,
                  "timeStamp": "2026-08-04T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "401": {
            "description": "Refresh token is invalid, expired, or session is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Unauthorized.",
                  "errorCode": "E4010",
                  "errors": {
                    "error_message": ["Refresh token is invalid or has expired."]
                  },
                  "timeStamp": "2026-08-04T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "{language_prefix}/admin/auth/me": {
      "get": {
        "tags": ["Platform Admin Authentication"],
        "summary": "Check current platform administrator authentication status",
        "description": "Checks whether the current request belongs to an authenticated Platform Administrator.\n\nThis endpoint is used by frontend applications during initialization to restore authentication state.\n\nThe endpoint does not return administrator information. It only validates:\n\n- Access Token validity.\n- Platform Administrator session existence.\n- Session active status.\n- Session expiration time.\n\nAuthentication is performed using HttpOnly Cookie or Bearer Token.",
        "operationId": "getCurrentPlatformAdminAuthenticationStatus",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Platform Administrator is authenticated successfully.",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Chasha_Company",
                  "message": "Operation completed successfully.",
                  "data": null,
                  "timeStamp": "2026-08-04T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed because access token or session is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "success": false,
                  "author": "Chasha_Company",
                  "message": "Unauthorized.",
                  "errorCode": "E4010",
                  "errors": {
                    "error_message": ["Access token is invalid or session has expired."]
                  },
                  "timeStamp": "2026-08-04T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/admin/auth/logout": {
      "post": {
        "tags": ["Platform Admin Authentication"],
        "summary": "Logout platform administrator",
        "description": "Terminates the current authenticated Platform Administrator session.\n\nThe endpoint requires an active authentication session validated by authentication middleware.\n\nLogout flow:\n\n1. Validates current Access Token.\n2. Identifies authenticated Platform Administrator session from authentication middleware.\n3. Retrieves session identifier from authentication context.\n4. Revokes the active authentication session.\n5. Invalidates the refresh token to prevent future token usage.\n6. Clears authentication cookies for Web clients.\n\nFor mobile clients, the backend revokes the session. The client application is responsible for removing locally stored tokens from Secure Storage.",
        "operationId": "logoutPlatformAdmin",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logout completed successfully.",
            "headers": {
              "Set-Cookie": {
                "description": "Authentication cookies are cleared for Web clients.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": null,
                  "timeStamp": "2026-08-05T20:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed because access token or session is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Unauthorized.",
                  "errorCode": "E4010",
                  "errors": {
                    "error_message": ["Access token is invalid or authentication session has expired."]
                  },
                  "timeStamp": "2026-08-05T20:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "404": {
            "description": "Authentication session was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Requested resource was not found.",
                  "errorCode": "E1020",
                  "errors": {
                    "error_message": ["Authentication session does not exist."]
                  },
                  "timeStamp": "2026-08-05T20:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/business/auth/login/with-phone": {
      "post": {
        "tags": ["Business Authentication"],
        "summary": "Login business employee with phone number",
        "description": "Starts authentication process for business employees.\n\nThis endpoint validates business employee credentials using phone number and password.\n\nIf credentials are valid:\n- Generates access token.\n- Generates refresh token.\n- Creates authenticated session.\n- Returns tokens based on client platform.\n\nFor web clients, tokens are stored in HttpOnly cookies.\nFor mobile clients, tokens are returned in response body.",
        "operationId": "loginWithPhoneNumberBusiness",
        "parameters": [
          {
            "name": "x-platform",
            "in": "header",
            "required": false,
            "description": "Client platform type.",
            "schema": {
              "type": "string",
              "enum": ["web", "mobile"],
              "default": "web"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWithPhoneNumberBusinessRequest"
              },
              "examples": {
                "login": {
                  "summary": "Valid login request",
                  "value": {
                    "loginPhoneNumber": "09123456789",
                    "loginPassword": "StrongPassword123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication completed successfully.",
            "content": {
              "application/json": {
                "examples": {
                  "Web": {
                    "summary": "Web Client",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Mehkam_Company",
                      "message": "Operation completed successfully.",
                      "data": null,
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  },
                  "Mobile": {
                    "summary": "Mobile Client",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Mehkam_Company",
                      "message": "Operation completed successfully.",
                      "data": {
                        "loginAccessToken": "eyJhbGciOiJIUzI1NiIs...",
                        "loginRefreshToken": "eyJhbGciOiJIUzI1NiIs..."
                      },
                      "timeStamp": "2026-07-29T15:41:18.928Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or credential conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidPhoneNumber": {
                    "summary": "Phone number validation error",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "loginPhoneNumber": ["Phone number format is invalid."]
                      }
                    }
                  },
                  "WrongPassword": {
                    "summary": "Incorrect password",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Data conflict.",
                      "errorCode": "E1090",
                      "errors": {
                        "loginPassword": ["Password is incorrect."]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Business employee not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Requested resource was not found.",
                  "errorCode": "E1020",
                  "errors": {
                    "loginPhoneNumber": ["Business employee with this phone number does not exist."]
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/business/auth/refresh-token": {
      "post": {
        "tags": ["Business Authentication"],
        "summary": "Refresh business employee authentication tokens",
        "description": "Generates new access and refresh tokens for an authenticated business employee without requiring login again.\n\nRefresh token lifecycle:\n\n1. Validates refresh token signature.\n2. Checks token type ownership.\n3. Finds existing business employee session.\n4. Validates stored hashed refresh token.\n5. Rotates refresh token.\n6. Updates session activity and expiration time.\n7. Returns new authentication tokens.\n\nThe previous refresh token becomes invalid after rotation.",
        "operationId": "refreshBusinessEmployeeToken",
        "parameters": [
          {
            "name": "x-platform",
            "in": "header",
            "required": false,
            "description": "Client platform type.",
            "schema": {
              "type": "string",
              "enum": ["web", "mobile"],
              "default": "web"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenBusinessRequest"
              },
              "example": {
                "refreshTokenBusiness": "eyJhbGciOiJIUzI1NiIs..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens refreshed successfully.",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": {
                    "newBusinessAccessToken": "eyJhbGciOiJIUzI1NiIs...",
                    "newBusinessRefreshToken": "eyJhbGciOiJIUzI1NiIs..."
                  },
                  "timeStamp": "2026-08-04T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "401": {
            "description": "Refresh token is invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Unauthorized.",
                  "errorCode": "E4010",
                  "errors": {
                    "refreshTokenBusiness": ["Refresh token is invalid."]
                  },
                  "timeStamp": "2026-08-04T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/business/auth/me": {
      "get": {
        "tags": ["Business Authentication"],
        "summary": "Check current business employee authentication status",
        "description": "Checks whether the current request belongs to an authenticated Business Employee.\n\nThis endpoint is used by frontend applications during initialization to restore authentication state.\n\nThe endpoint does not return employee information. It only validates:\n\n- Access Token validity.\n- Business Employee session existence.\n- Session active status.\n- Session expiration time.\n\nAuthentication is performed using HttpOnly Cookie or Bearer Token.",
        "operationId": "getCurrentBusinessEmployeeAuthenticationStatus",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Business Employee is authenticated successfully.",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Chasha_Company",
                  "message": "Operation completed successfully.",
                  "data": null,
                  "timeStamp": "2026-08-04T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed because access token or session is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "success": false,
                  "author": "Chasha_Company",
                  "message": "Unauthorized.",
                  "errorCode": "E4010",
                  "errors": {
                    "error_message": ["Access token is invalid or session has expired."]
                  },
                  "timeStamp": "2026-08-04T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/business/auth/logout": {
      "post": {
        "tags": ["Business Authentication"],
        "summary": "Logout business employee",
        "description": "Terminates the current authenticated business employee session.\n\nThe endpoint requires an active authentication session validated by authentication middleware.\n\nLogout flow:\n\n1. Validates current Access Token.\n2. Identifies authenticated Business Employee session from authentication context.\n3. Retrieves session identifier.\n4. Revokes the active authentication session.\n5. Invalidates the refresh token to prevent future token usage.\n6. Clears authentication cookies for Web clients.\n\nFor mobile clients, the backend revokes the session. The client application is responsible for removing locally stored tokens from Secure Storage.",
        "operationId": "logoutBusinessEmployee",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logout completed successfully.",
            "headers": {
              "Set-Cookie": {
                "description": "Authentication cookies are cleared for Web clients.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": null,
                  "timeStamp": "2026-08-05T20:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed because access token or session is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Unauthorized.",
                  "errorCode": "E4010",
                  "errors": {
                    "error_message": ["Access token is invalid or authentication session has expired."]
                  },
                  "timeStamp": "2026-08-05T20:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "404": {
            "description": "Authentication session was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Requested resource was not found.",
                  "errorCode": "E1020",
                  "errors": {
                    "error_message": ["Authentication session does not exist."]
                  },
                  "timeStamp": "2026-08-05T20:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/business/auth/forgot-password": {
      "post": {
        "tags": ["Business Authentication"],
        "summary": "Request business employee password reset",
        "description": "Initiates the password reset process for a business employee using their phone number.\n\nFor security reasons, this endpoint does not reveal whether the provided phone number belongs to an existing business employee.\n\nIf a business employee exists with the provided phone number:\n- A temporary password reset session is created in cache.\n- A password reset verification code is generated.\n- The verification code is sent to the employee via SMS.\n\nIf no business employee exists with the provided phone number, no password reset session or SMS is created.\n\nIn both cases, the API returns the same successful response to prevent user enumeration.",
        "operationId": "forgotPasswordBusiness",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordBusinessRequest"
              },
              "example": {
                "forgotPasswordPhoneNumber": "09393929968"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset request processed successfully. The response is intentionally identical whether or not the phone number belongs to a business employee.",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": null,
                  "timeStamp": "2026-08-08T21:53:31.771Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidPhoneNumber": {
                    "summary": "Invalid Phone Number",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "forgotPasswordPhoneNumber": ["Phone number must contain exactly 11 digits and start with 09."]
                      },
                      "timeStamp": "2026-08-08T21:53:31.771Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/business/auth/forgot-password/verify": {
      "post": {
        "tags": ["Business Authentication"],
        "summary": "Verify business employee password reset",
        "description": "Completes the password reset process for a business employee.\n\nThis endpoint validates the password reset token, verifies the associated password reset session, updates the employee password, revokes all active authentication sessions for the employee, and invalidates the password reset session.\n\nPassword reset flow:\n\n1. Validates the reset token and new password.\n2. Hashes the reset token and locates the temporary password reset session.\n3. Validates that the password reset session is still active.\n4. Verifies that the business employee exists.\n5. Updates the business employee password.\n6. Revokes all active authentication sessions belonging to the employee.\n7. Deletes the password reset session from cache.\n\nAfter successful completion, the business employee must authenticate again using the new password.",
        "operationId": "forgotPasswordVerifyBusiness",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordVerifyBusinessRequest"
              },
              "examples": {
                "default": {
                  "summary": "Verify password reset",
                  "value": {
                    "forgotPasswordVerifyResetToken": "9f8c7d6e5b4a32100112233445566778899aabbccddeeff001122334455667788",
                    "forgotPasswordVerifyNewPassword": "NewSecurePassword123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": null,
                  "timeStamp": "2026-08-09T00:00:00.000Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or password reset session is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidResetToken": {
                    "summary": "Invalid Reset Token",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Data conflict.",
                      "errorCode": "E1090",
                      "errors": {
                        "forgotPasswordVerifyResetToken": ["Password reset session is invalid or has expired."]
                      },
                      "timeStamp": "2026-08-09T00:00:00.000Z",
                      "version": "0.1.0"
                    }
                  },
                  "EmployeeNotFound": {
                    "summary": "Business Employee Not Found",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Data conflict.",
                      "errorCode": "E1090",
                      "errors": {
                        "forgotPasswordVerifyResetToken": ["Password reset session is invalid or has expired."]
                      },
                      "timeStamp": "2026-08-09T00:00:00.000Z",
                      "version": "0.1.0"
                    }
                  },
                  "InvalidPassword": {
                    "summary": "Invalid New Password",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "forgotPasswordVerifyNewPassword": ["Password is invalid."]
                      },
                      "timeStamp": "2026-08-09T00:00:00.000Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/global/early-access-request/create": {
      "post": {
        "tags": ["Global Early Access Requests"],
        "summary": "Create early access request",
        "description": "Creates a new Early Access request for businesses interested in joining the Chasha platform.\n\nThis endpoint is publicly accessible and does not require authentication.\n\nIf the phone number has already been registered, the API returns a conflict error.",
        "operationId": "createGlobalEarlyAccessRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGlobalEarlyAccessRequest"
              },
              "examples": {
                "create": {
                  "summary": "Create Early Access Request",
                  "value": {
                    "earlyAccessRequestFullName": "John Doe",
                    "earlyAccessRequestPhoneNumber": "09123456789",
                    "earlyAccessRequestBusinessName": "Chasha Coffeshop | چاشا کافی شاپ",
                    "earlyAccessRequestBusinessTypeSlug": "restaurant"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Early access request created successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGlobalEarlyAccessRequestResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Request Created",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Mehkam_Company",
                      "message": "Operation completed successfully.",
                      "data": {
                        "earlyAccessRequestCode": "@CHASHA_873310"
                      },
                      "timeStamp": "2026-08-02T20:03:40.086Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidPhoneNumber": {
                    "summary": "Phone Number Validation",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "earlyAccessRequestPhoneNumber": ["Phone number must contain exactly 11 digits and start with 09."]
                      },
                      "timeStamp": "2026-08-02T20:03:35.286Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "An early access request already exists for this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AlreadyRegistered": {
                    "summary": "Phone Number Already Registered",
                    "value": {
                      "status": 409,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Data conflict.",
                      "errorCode": "E1021",
                      "errors": {
                        "earlyAccessRequestPhoneNumber": ["An Early Access request has already been submitted for this phone number."]
                      },
                      "timeStamp": "2026-08-02T20:03:30.508Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },

    "/{language_prefix}/admin/early-access-request/list-option": {
      "get": {
        "tags": ["Admin Early Access Requests"],
        "summary": "Get Early Access Request list options",
        "description": "Retrieves the available search fields and status filter options for the Platform Administrator Early Access Request management interface. This endpoint is protected by Platform Administrator authentication and requires the EARLY_ACCESS_REQUEST_LIST_OPTIONS permission.",
        "operationId": "getListOptionEarlyAccessRequest",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Early Access Request list options retrieved successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListOptionEarlyAccessRequestResponse"
                },
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": {
                    "earlyAccessRequestSearch": [
                      {
                        "earlyAccessRequestSearchField": "fullName",
                        "earlyAccessRequestSearchLabels": ["Full Name"]
                      },
                      {
                        "earlyAccessRequestSearchField": "phoneNumber",
                        "earlyAccessRequestSearchLabels": ["Phone Number"]
                      },
                      {
                        "earlyAccessRequestSearchField": "businessName",
                        "earlyAccessRequestSearchLabels": ["Business Name"]
                      },
                      {
                        "earlyAccessRequestSearchField": "code",
                        "earlyAccessRequestSearchLabels": ["Request Code"]
                      }
                    ],
                    "earlyAccessRequestFilters": {
                      "earlyAccessRequestStatus": [
                        {
                          "earlyAccessRequestStatusId": 1,
                          "earlyAccessRequestStatusLabels": {
                            "fa": "در انتظار بررسی",
                            "en": "Pending"
                          }
                        },
                        {
                          "earlyAccessRequestStatusId": 2,
                          "earlyAccessRequestStatusLabels": {
                            "fa": "تماس گرفته شد",
                            "en": "Contacted"
                          }
                        }
                      ]
                    }
                  },
                  "timeStamp": "2026-08-17T00:00:00.000Z",
                  "version": "1.0.0"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/admin/early-access-request/get-all": {
      "get": {
        "tags": ["Admin Early Access Requests"],
        "summary": "Get all Early Access Requests",
        "description": "Retrieves a paginated list of Early Access Requests for Platform Administrators. The endpoint supports pagination, global search, and status filtering. Search is performed across the Early Access Request full name, phone number, business name, and request code. The query schema is strict and unsupported query parameters are rejected. This endpoint is protected by Platform Administrator authentication and requires the EARLY_ACCESS_REQUEST_GET_ALL permission.",
        "operationId": "getAllEarlyAccessRequest",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "paginationPage",
            "in": "query",
            "required": true,
            "description": "Pagination page number.",
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "1"
            }
          },
          {
            "name": "paginationLimit",
            "in": "query",
            "required": true,
            "description": "Number of Early Access Requests to return per page.",
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "20"
            }
          },
          {
            "name": "earlyAccessRequestSearch",
            "in": "query",
            "required": false,
            "description": "Searches Early Access Requests by full name, phone number, business name, or request code.",
            "schema": {
              "type": "string",
              "example": "Chasha"
            }
          },
          {
            "name": "earlyAccessRequestStatusId",
            "in": "query",
            "required": false,
            "description": "Filters Early Access Requests by status identifier. The value must contain only numeric characters.",
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Early Access Requests retrieved successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllEarlyAccessRequestPaginationResponse"
                },
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": [
                    {
                      "earlyAccessRequestId": "9f8c7d6e-5b4a-3210-0112-233445566778",
                      "earlyAccessRequestStatus": {
                        "earlyAccessRequestStatusNameFa": "در انتظار بررسی",
                        "earlyAccessRequestStatusNameEn": "Pending",
                        "earlyAccessRequestStatusSlug": "pending",
                        "earlyAccessRequestStatusDescriptionFa": "درخواست در انتظار بررسی است.",
                        "earlyAccessRequestStatusDescriptionEn": "The request is waiting for review.",
                        "earlyAccessRequestStatusSortOrder": 1
                      },
                      "earlyAccessRequestBusinessType": {
                        "businessTypeNameFa": "رستوران",
                        "businessTypeNameEn": "Restaurant",
                        "businessTypeSlug": "restaurant",
                        "businessTypeSortOrder": 1
                      },
                      "earlyAccessRequestFullName": "John Doe",
                      "earlyAccessRequestPhoneNumber": "09123456789",
                      "earlyAccessRequestBusinessName": "Chasha Coffee Shop",
                      "earlyAccessRequestCode": "@CHASHA_873310",
                      "earlyAccessRequestMetadata": null,
                      "earlyAccessRequestCreatedAt": "2026-08-16T18:30:00.000Z",
                      "earlyAccessRequestUpdatedAt": "2026-08-16T18:30:00.000Z"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 20,
                    "totalItems": 1,
                    "totalPages": 1
                  },
                  "timeStamp": "2026-08-17T00:00:00.000Z",
                  "version": "1.0.0"
                }
              }
            }
          },
          "400": {
            "description": "Query validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NoQueryData": {
                    "summary": "No Query Parameters",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "No data received.",
                      "errorCode": "E1000",
                      "errors": {},
                      "timeStamp": "2026-08-17T00:00:00.000Z",
                      "version": "1.0.0"
                    }
                  },
                  "InvalidStatusId": {
                    "summary": "Invalid Status ID",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Mehkam_Company",
                      "message": "Validation failed.",
                      "errorCode": "E1001",
                      "errors": {
                        "earlyAccessRequestStatusId": ["Early Access Request status id is invalid."]
                      },
                      "timeStamp": "2026-08-17T00:00:00.000Z",
                      "version": "1.0.0"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/admin/early-access-request/detail": {
      "post": {
        "tags": ["Admin Early Access Requests"],
        "summary": "Get Early Access Request detail",
        "description": "Retrieves detailed information about a specific Early Access Request using its unique identifier. This endpoint is protected by Platform Administrator authentication and requires the EARLY_ACCESS_REQUEST_DETAIL permission.",
        "operationId": "getEarlyAccessRequestDetail",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEarlyAccessRequestDetailRequest"
              },
              "example": {
                "earlyAccessRequestId": "19352f07-6d0d-47cb-9a35-6873dac786d2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Early Access Request detail retrieved successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEarlyAccessRequestDetailResponse"
                },
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": {
                    "earlyAccessRequestId": "19352f07-6d0d-47cb-9a35-6873dac786d2",
                    "earlyAccessRequestFullName": "عرفان ابویی",
                    "earlyAccessRequestPhoneNumber": "09431356465",
                    "earlyAccessRequestBusinessName": "Chasha Coffeshop | چاشا کافی شاپ",
                    "earlyAccessRequestCode": "@CHASHA_288302",
                    "earlyAccessRequestMetadata": null,
                    "earlyAccessRequestCreatedAt": "2026-08-13T12:04:47.070Z",
                    "earlyAccessRequestUpdatedAt": "2026-08-13T12:04:47.070Z",
                    "earlyAccessRequestStatus": {
                      "earlyAccessRequestStatusNameFa": "در انتظار بررسی",
                      "earlyAccessRequestStatusNameEn": "Pending",
                      "earlyAccessRequestStatusSlug": "pending",
                      "earlyAccessRequestStatusDescriptionFa": "درخواست اولیه ثبت شده و منتظر بررسی است",
                      "earlyAccessRequestStatusDescriptionEn": "Request submitted and waiting for review",
                      "earlyAccessRequestStatusSortOrder": 1
                    },
                    "earlyAccessRequestBusinessType": {
                      "businessTypeNameFa": "رستوران",
                      "businessTypeNameEn": "Restaurant",
                      "businessTypeSlug": "restaurant",
                      "businessTypeSortOrder": 1
                    }
                  },
                  "timeStamp": "2026-08-16T23:01:03.286Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Validation failed.",
                  "errorCode": "E1001",
                  "errors": {
                    "earlyAccessRequestId": ["Early Access Request identifier is invalid."]
                  },
                  "timeStamp": "2026-08-16T23:01:26.870Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Early Access Request was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Requested resource was not found.",
                  "errorCode": "E1020",
                  "errors": {
                    "earlyAccessRequestId": ["Early Access Request with the provided identifier was not found."]
                  },
                  "timeStamp": "2026-08-16T23:01:26.870Z",
                  "version": "0.1.0"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/admin/early-access-request/update": {
      "patch": {
        "tags": ["Admin Early Access Requests"],
        "summary": "Update Early Access Request",
        "description": "Updates an existing Early Access Request by Platform Administrators.\n\nThis endpoint allows updating Early Access Request information including status, business type, contact information, request code, business name, and metadata.\n\nThis endpoint is protected by Platform Administrator authentication and requires the EARLY_ACCESS_REQUEST_UPDATE permission.",
        "operationId": "updateEarlyAccessRequest",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEarlyAccessRequestRequest"
              },
              "example": {
                "earlyAccessRequestId": "9f8c7d6e-5b4a-3210-0112-233445566778",
                "earlyAccessRequestStatusId": 2,
                "earlyAccessRequestBusinessName": "Chasha Coffee Shop",
                "earlyAccessRequestMetadata": {
                  "note": "Customer contacted successfully"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Early Access Request updated successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Updated successfully.",
                  "data": null,
                  "timeStamp": "2026-08-18T00:00:00.000Z",
                  "version": "1.0.0"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Validation failed.",
                  "errorCode": "E1001",
                  "errors": {
                    "earlyAccessRequestId": ["Early access request id is required."]
                  },
                  "timeStamp": "2026-08-18T00:00:00.000Z",
                  "version": "1.0.0"
                }
              }
            }
          },
          "404": {
            "description": "Early Access Request, status, or business type was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Requested resource was not found.",
                  "errorCode": "E1020",
                  "errors": {
                    "earlyAccessRequestId": ["Early Access Request was not found."]
                  },
                  "timeStamp": "2026-08-18T00:00:00.000Z",
                  "version": "1.0.0"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/global/faq/get-all": {
      "get": {
        "tags": ["Global FAQ"],
        "summary": "Get all global FAQs by type",
        "description": "Retrieves all active frequently asked questions based on the requested FAQ type.\n\nSupported FAQ types:\n- landing\n- business\n\nThis endpoint is publicly accessible and does not require authentication.",
        "operationId": "getAllGlobalFaq",
        "parameters": [
          {
            "name": "faqType",
            "in": "query",
            "required": true,
            "description": "FAQ category type.",
            "schema": {
              "type": "string",
              "enum": ["landing", "business"],
              "example": "landing"
            }
          }
        ],

        "responses": {
          "200": {
            "description": "FAQs retrieved successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalFaqListResponse"
                },
                "example": {
                  "status": 200,
                  "success": true,
                  "author": "Mehkam_Company",
                  "message": "Operation completed successfully.",
                  "data": [
                    {
                      "faqQuestionFa": "چاشا چیست؟",
                      "faqQuestionEn": "What is Chasha?",
                      "faqAnswerFa": "چاشا یک سیستم عامل مدیریت کسب‌وکارهای خدماتی است که فرآیندهای روزمره را ساده‌تر و هوشمندتر می‌کند.",
                      "faqAnswerEn": "Chasha is an operating system designed to simplify and optimize daily business operations.",
                      "faqSlug": "what-is-chasha",
                      "faqSortOrder": 1,
                      "faqIsActive": true
                    }
                  ],
                  "timeStamp": "2026-08-11T00:00:00.000Z",
                  "version": "1.0.0"
                }
              }
            }
          },

          "400": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Validation failed.",
                  "errorCode": "E1001",
                  "errors": {
                    "faq_type": ["FAQ type must be either landing or business."]
                  },
                  "timeStamp": "2026-08-11T00:00:00.000Z",
                  "version": "1.0.0"
                }
              }
            }
          },

          "404": {
            "description": "FAQ type not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "success": false,
                  "author": "Mehkam_Company",
                  "message": "Requested resource was not found.",
                  "errorCode": "E1020",
                  "errors": {
                    "faq_type": ["FAQ type does not exist."]
                  },
                  "timeStamp": "2026-08-11T00:00:00.000Z",
                  "version": "1.0.0"
                }
              }
            }
          },

          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/{language_prefix}/global/lockup/business-type": {
      "get": {
        "tags": ["Global Lockup"],
        "summary": "Get all business types",
        "description": "Retrieves a list of all available business types with their localized names, slugs, and sort orders.",
        "operationId": "getBusinessTypes",
        "responses": {
          "200": {
            "description": "List of business types retrieved successfully.",
            "headers": {
              "x-request-id": {
                "description": "Unique request identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessTypeListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful retrieval of business types",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Mehkam_Company",
                      "message": "Operation completed successfully.",
                      "data": [
                        {
                          "businessTypeNameFa": "نانوایی و شیرینی فروشی",
                          "businessTypeNameEn": "Bakery",
                          "businessTypeSlug": "bakery",
                          "businessTypeSortOrder": 5
                        },
                        {
                          "businessTypeNameFa": "فروشگاه دسر",
                          "businessTypeNameEn": "Dessert Shop",
                          "businessTypeSlug": "dessert-shop",
                          "businessTypeSortOrder": 6
                        },
                        {
                          "businessTypeNameFa": "رستوران",
                          "businessTypeNameEn": "Restaurant",
                          "businessTypeSlug": "restaurant",
                          "businessTypeSortOrder": 1
                        },
                        {
                          "businessTypeNameFa": "کافی شاپ",
                          "businessTypeNameEn": "Coffee Shop",
                          "businessTypeSlug": "coffee-shop",
                          "businessTypeSortOrder": 4
                        },
                        {
                          "businessTypeNameFa": "کافه",
                          "businessTypeNameEn": "Cafe",
                          "businessTypeSlug": "cafe",
                          "businessTypeSortOrder": 2
                        },
                        {
                          "businessTypeNameFa": "سایر",
                          "businessTypeNameEn": "Other",
                          "businessTypeSlug": "other",
                          "businessTypeSortOrder": 99
                        },
                        {
                          "businessTypeNameFa": "فست فود",
                          "businessTypeNameEn": "Fast Food",
                          "businessTypeSlug": "fast-food",
                          "businessTypeSortOrder": 3
                        }
                      ],
                      "timeStamp": "2026-08-01T20:33:00.638Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Access Token"
      },
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "accessToken",
        "description": "HttpOnly Cookie Authentication"
      }
    },
    "schemas": {
      "LoginWithPhoneNumberPlatformAdminRequest": {
        "type": "object",
        "required": ["loginPhoneNumber", "loginPassword"],
        "properties": {
          "loginPhoneNumber": {
            "type": "string",
            "description": "Platform administrator phone number.",
            "example": "09123456789",
            "pattern": "^09\\d{9}$",
            "minLength": 11,
            "maxLength": 11
          },
          "loginPassword": {
            "type": "string",
            "description": "Platform administrator password.",
            "example": "StrongPassword123",
            "minLength": 1,
            "maxLength": 64
          }
        }
      },
      "LoginWithPhoneNumberPlatformAdminResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "author": {
            "type": "string",
            "example": "Mehkam_Company"
          },
          "message": {
            "type": "string",
            "example": "Operation completed successfully."
          },
          "data": {
            "type": "object",
            "properties": {
              "loginSession": {
                "type": "string",
                "format": "uuid",
                "description": "Temporary login session identifier used for OTP verification.",
                "example": "2a8e43dc-be17-4d02-8820-daa3638168b1"
              },
              "loginOtpExpiresTimer": {
                "type": "integer",
                "description": "OTP expiration timer in seconds.",
                "example": 120
              }
            }
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "example": "0.1.0"
          }
        }
      },
      "LoginVerifyPlatformAdminRequest": {
        "type": "object",
        "required": ["loginVerifySessionId", "loginVerifyPhoneNumber", "loginVerifyOtp"],
        "properties": {
          "loginVerifySessionId": {
            "type": "string",
            "format": "uuid",
            "description": "Temporary login session identifier returned by the Login With Phone endpoint.",
            "example": "2a8e43dc-be17-4d02-8820-daa3638168b1"
          },
          "loginVerifyPhoneNumber": {
            "type": "string",
            "description": "Platform Administrator phone number.",
            "example": "09123456789",
            "pattern": "^09\\d{9}$",
            "minLength": 11,
            "maxLength": 11
          },
          "loginVerifyOtp": {
            "type": "string",
            "description": "Six digit One-Time Password sent to the administrator.",
            "example": "482913",
            "pattern": "^\\d{6}$",
            "minLength": 6,
            "maxLength": 6
          }
        }
      },
      "LoginVerifyPlatformAdminMobileResponse": {
        "type": "object",
        "properties": {
          "loginVerifyAccessToken": {
            "type": "string",
            "description": "JWT Access Token.",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "loginVerifyRefreshToken": {
            "type": "string",
            "description": "JWT Refresh Token.",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        }
      },
      "LoginVerifyPlatformAdminWebResponse": {
        "type": "object",
        "nullable": true,
        "example": null,
        "description": "Web clients receive authentication cookies. Therefore, the response body data is null."
      },
      "LoginResendOtpPlatformAdminRequest": {
        "type": "object",
        "required": ["loginResendOtpPhoneNumber", "loginResendOtpSessionId"],
        "properties": {
          "loginResendOtpPhoneNumber": {
            "type": "string",
            "description": "Platform administrator phone number.",
            "example": "09123456789",
            "pattern": "^09\\d{9}$",
            "minLength": 11,
            "maxLength": 11
          },
          "loginResendOtpSessionId": {
            "type": "string",
            "format": "uuid",
            "description": "Existing temporary login session identifier.",
            "example": "2a8e43dc-be17-4d02-8820-daa3638168b1"
          }
        }
      },
      "LoginResendOtpPlatformAdminResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "author": {
            "type": "string",
            "example": "Mehkam_Company"
          },
          "message": {
            "type": "string",
            "example": "Operation completed successfully."
          },
          "data": {
            "type": "object",
            "properties": {
              "loginResendOtpExpiresTimer": {
                "type": "integer",
                "description": "OTP expiration timer in seconds.",
                "example": 120
              }
            }
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "example": "0.1.0"
          }
        }
      },
      "LoginWithPhoneNumberBusinessRequest": {
        "type": "object",
        "required": ["loginPhoneNumber", "loginPassword"],
        "properties": {
          "loginPhoneNumber": {
            "type": "string",
            "description": "Business employee phone number.",
            "example": "09123456789",
            "pattern": "^09\\d{9}$",
            "minLength": 11,
            "maxLength": 11
          },
          "loginPassword": {
            "type": "string",
            "description": "Business employee password.",
            "example": "StrongPassword123",
            "maxLength": 64
          }
        }
      },
      "LoginWithPhoneNumberBusinessMobileResponse": {
        "type": "object",
        "properties": {
          "loginAccessToken": {
            "type": "string",
            "description": "JWT access token."
          },
          "loginRefreshToken": {
            "type": "string",
            "description": "JWT refresh token."
          }
        }
      },
      "CreateGlobalEarlyAccessRequest": {
        "type": "object",
        "required": ["earlyAccessRequestFullName", "earlyAccessRequestPhoneNumber", "earlyAccessRequestBusinessTypeSlug"],
        "properties": {
          "earlyAccessRequestFullName": {
            "type": "string",
            "description": "Full name of the applicant.",
            "example": "John Doe",
            "minLength": 2,
            "maxLength": 150
          },
          "earlyAccessRequestPhoneNumber": {
            "type": "string",
            "description": "Applicant phone number.",
            "example": "09123456789",
            "pattern": "^09\\d{9}$",
            "minLength": 11,
            "maxLength": 11
          },
          "earlyAccessRequestBusinessName": {
            "type": "string",
            "description": "Applicant Busienss name.",
            "example": "Chasha Coffeshop | چاشا کافی شاپ",
            "minLength": 2,
            "maxLength": 150
          },
          "earlyAccessRequestBusinessTypeSlug": {
            "type": "string",
            "description": "Business type slug.",
            "example": "restaurant",
            "minLength": 1
          }
        }
      },
      "CreateGlobalEarlyAccessRequestResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "author": {
            "type": "string",
            "example": "Mehkam_Company"
          },
          "message": {
            "type": "string",
            "example": "Operation completed successfully."
          },
          "data": {
            "type": "object",
            "properties": {
              "earlyAccessRequestCode": {
                "type": "string",
                "description": "Unique Early Access request identifier.",
                "example": "@CHASHA_873310"
              }
            }
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "example": "0.1.0"
          }
        }
      },
      "RefreshTokenBusinessRequest": {
        "type": "object",
        "required": ["refreshTokenBusiness"],
        "properties": {
          "refreshTokenBusiness": {
            "type": "string",
            "description": "Business employee JWT refresh token.",
            "example": "eyJhbGciOiJIUzI1NiIs..."
          }
        }
      },
      "ForgotPasswordBusinessRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["forgotPasswordPhoneNumber"],
        "properties": {
          "forgotPasswordPhoneNumber": {
            "type": "string",
            "description": "Business employee phone number used to initiate the password reset process.",
            "pattern": "^09\\d{9}$",
            "minLength": 11,
            "maxLength": 11,
            "example": "09393929968"
          }
        }
      },
      "ForgotPasswordVerifyBusinessRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["forgotPasswordVerifyResetToken", "forgotPasswordVerifyNewPassword"],
        "properties": {
          "forgotPasswordVerifyResetToken": {
            "type": "string",
            "description": "Password reset token generated during the business employee password recovery process.",
            "pattern": "^[a-fA-F0-9]{64}$",
            "minLength": 64,
            "maxLength": 64,
            "example": "9f8c7d6e5b4a32100112233445566778899aabbccddeeff001122334455667788"
          },
          "forgotPasswordVerifyNewPassword": {
            "type": "string",
            "description": "New password for the business employee.",
            "minLength": 1,
            "maxLength": 64,
            "example": "NewSecurePassword123!"
          }
        }
      },
      "GlobalFaqItem": {
        "type": "object",
        "properties": {
          "faqQuestionFa": {
            "type": "string",
            "description": "FAQ question in Persian."
          },
          "faqQuestionEn": {
            "type": "string",
            "description": "FAQ question in English."
          },
          "faqAnswerFa": {
            "type": "string",
            "description": "FAQ answer in Persian."
          },
          "faqAnswerEn": {
            "type": "string",
            "description": "FAQ answer in English."
          },
          "faqSlug": {
            "type": "string",
            "description": "Unique FAQ identifier."
          },
          "faqSortOrder": {
            "type": "integer",
            "description": "Display sorting order."
          },
          "faqIsActive": {
            "type": "boolean",
            "description": "Indicates whether FAQ is active."
          }
        }
      },

      "GlobalFaqListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "author": {
            "type": "string",
            "example": "Mehkam_Company"
          },
          "message": {
            "type": "string",
            "example": "Operation completed successfully."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalFaqItem"
            }
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          }
        }
      },

      "GetListOptionEarlyAccessRequestResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "author": {
            "type": "string",
            "example": "Mehkam_Company"
          },
          "message": {
            "type": "string",
            "example": "Operation completed successfully."
          },
          "data": {
            "$ref": "#/components/schemas/EarlyAccessRequestListOptionData"
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          }
        }
      },
      "EarlyAccessRequestListOptionData": {
        "type": "object",
        "properties": {
          "earlyAccessRequestSearch": {
            "type": "array",
            "description": "Available search fields for Early Access Requests.",
            "items": {
              "$ref": "#/components/schemas/EarlyAccessRequestSearchOption"
            }
          },
          "earlyAccessRequestFilters": {
            "$ref": "#/components/schemas/EarlyAccessRequestFilterOptions"
          }
        }
      },
      "EarlyAccessRequestSearchOption": {
        "type": "object",
        "properties": {
          "earlyAccessRequestSearchField": {
            "type": "string",
            "description": "Logical search field identifier.",
            "enum": ["fullName", "phoneNumber", "businessName", "code"],
            "example": "fullName"
          },
          "earlyAccessRequestSearchLabels": {
            "type": "array",
            "description": "Localized labels for the search field.",
            "items": {
              "type": "string"
            },
            "example": ["Full Name"]
          }
        }
      },
      "EarlyAccessRequestFilterOptions": {
        "type": "object",
        "properties": {
          "earlyAccessRequestStatus": {
            "type": "array",
            "description": "Available Early Access Request statuses.",
            "items": {
              "$ref": "#/components/schemas/EarlyAccessRequestStatusFilterOption"
            }
          }
        }
      },
      "EarlyAccessRequestStatusFilterOption": {
        "type": "object",
        "properties": {
          "earlyAccessRequestStatusId": {
            "type": "integer",
            "description": "Unique Early Access Request status identifier.",
            "example": 1
          },
          "earlyAccessRequestStatusLabels": {
            "type": "object",
            "description": "Localized status labels.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "fa": "در انتظار بررسی",
              "en": "Pending"
            }
[...]
