{
  "openapi": "3.1.0",
  "info": {
    "title": "رابط برنامه‌نویسی پلتفرم چاشا",
    "summary": "مستندات رسمی REST API پلتفرم چاشا",
    "description": "مستندات رسمی REST API مربوط به سیستم مدیریت رستوران چاشا.\n\nاین API امکانات مدیریت پلتفرم، مدیریت رستوران، احراز هویت، ثبت سفارش، منوی QR، گردش کار آشپزخانه، اعلان‌ها و سرویس‌های آینده پلتفرم را فراهم می‌کند.\n\nتمامی Endpointها بر اساس اصول REST طراحی شده‌اند و پاسخ‌ها را در قالب استاندارد JSON بازمی‌گردانند.\n\nاحراز هویت بسته به نوع کلاینت، از طریق کوکی (Cookie-based Authentication) یا توکن Bearer انجام می‌شود.",
    "version": "1.0.0",
    "termsOfService": "https://docs.chaasha.ir/terms",
    "contact": {
      "name": "فناوری کارا",
      "url": "https://karaflow.com",
      "email": "backend@karaflow.com"
    },
    "license": {
      "name": "مجوز خصوصی",
      "url": "https://docs.chaasha.ir/license"
    }
  },

  "externalDocs": {
    "description": "مستندات کامل توسعه‌دهندگان",
    "url": "https://docs.chaasha.ir"
  },

  "servers": [
    {
      "url": "https://api.chaasha.ir/api/v1",
      "description": "سرور عملیاتی (Production)"
    },
    {
      "url": "https://staging-api.chaasha.ir/api/v1",
      "description": "سرور آزمایشی (Staging)"
    },
    {
      "url": "https://develop-api.chaasha.ir/api/v1",
      "description": "سرور توسعه (Development)"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "محیط توسعه محلی (Local Development)"
    }
  ],

  "tags": [
    {
      "name": "احراز هویت مدیران پلتفرم",
      "description": "Endpointهای مربوط به احراز هویت مدیران پلتفرم شامل ورود، تأیید کد یکبار مصرف (OTP)، ایجاد توکن، خروج، تمدید توکن و بازیابی رمز عبور."
    }
  ],

  "paths": {
    "/admin/auth/login/with-phone": {
      "post": {
        "tags": ["احراز هویت مدیران پلتفرم"],
        "summary": "ورود با شماره تلفن",
        "description": "فرآیند احراز هویت مدیر پلتفرم را آغاز می‌کند.\n\nدر این Endpoint اطلاعات ورود مدیر (شماره تلفن و رمز عبور) اعتبارسنجی می‌شود.\n\nدر صورت معتبر بودن اطلاعات:\n- یک نشست ورود موقت ایجاد می‌شود.\n- یک کد تأیید شش رقمی (OTP) تولید می‌شود.\n- نشست در حافظه Cache ذخیره می‌شود.\n- شناسه موقت loginSession بازگردانده می‌شود.\n\nشناسه loginSession باید در مرحله تأیید OTP استفاده شود.\n\nاگر از قبل یک نشست ورود فعال برای این شماره تلفن وجود داشته باشد، به جای ایجاد نشست جدید، خطایی بازگردانده می‌شود و کاربر باید فرآیند تأیید قبلی را ادامه دهد.",
        "operationId": "loginWithPhoneNumberPlatformAdmin",

        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWithPhoneNumberPlatformAdminRequest"
              },
              "examples": {
                "login": {
                  "summary": "درخواست معتبر",
                  "value": {
                    "loginPhoneNumber": "09123456789",
                    "loginPassword": "StrongPassword123"
                  }
                }
              }
            }
          }
        },

        "responses": {
          "200": {
            "description": "نشست ورود با موفقیت ایجاد شد.",
            "headers": {
              "x-request-id": {
                "description": "شناسه یکتای درخواست.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginWithPhoneNumberPlatformAdminResponse"
                },
                "examples": {
                  "success": {
                    "summary": "ایجاد نشست",
                    "value": {
                      "status": 200,
                      "success": true,
                      "author": "Kara_Company",
                      "message": "عملیات با موفقیت انجام شد.",
                      "data": {
                        "loginSession": "2a8e43dc-be17-4d02-8820-daa3638168b1"
                      },
                      "timeStamp": "2026-07-28T19:01:15.281Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },

          "400": {
            "description": "اعتبارسنجی ناموفق یا نقض قوانین کسب‌وکار.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidPhoneNumber": {
                    "summary": "خطای اعتبارسنجی شماره تلفن",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Kara_Company",
                      "message": "اعتبارسنجی با خطا مواجه شد.",
                      "errorCode": "E1001",
                      "errors": {
                        "loginPhoneNumber": ["شماره تلفن باید دقیقاً ۱۱ رقم بوده و با 09 شروع شود."]
                      },
                      "timeStamp": "2026-07-28T19:01:46.652Z",
                      "version": "0.1.0"
                    }
                  },

                  "WrongPassword": {
                    "summary": "رمز عبور اشتباه",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Kara_Company",
                      "message": "تعارض در داده‌ها.",
                      "errorCode": "E1090",
                      "errors": {
                        "loginPassword": ["رمز عبور وارد شده صحیح نیست."]
                      },
                      "timeStamp": "2026-07-28T19:01:22.197Z",
                      "version": "0.1.0"
                    }
                  },

                  "AlreadyInQueue": {
                    "summary": "نشست ورود فعال",
                    "value": {
                      "status": 400,
                      "success": false,
                      "author": "Kara_Company",
                      "message": "تعارض در داده‌ها.",
                      "errorCode": "E1090",
                      "errors": {
                        "error_message": ["درخواست ورود شما قبلاً ثبت شده است. لطفاً به صفحه تأیید بازگردید و کد OTP خود را وارد کنید."]
                      },
                      "timeStamp": "2026-07-28T19:01:22.197Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },

          "404": {
            "description": "مدیر پلتفرم یافت نشد.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "value": {
                      "status": 404,
                      "success": false,
                      "author": "Kara_Company",
                      "message": "منبع درخواستی یافت نشد.",
                      "errorCode": "E1020",
                      "errors": {
                        "loginPhoneNumber": ["مدیر پلتفرمی با این شماره تلفن وجود ندارد."]
                      },
                      "timeStamp": "2026-07-28T19:01:27.765Z",
                      "version": "0.1.0"
                    }
                  }
                }
              }
            }
          },

          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },

  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "توکن دسترسی JWT"
      },
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "accessToken",
        "description": "احراز هویت از طریق کوکی HttpOnly"
      }
    },

    "schemas": {
      "LoginWithPhoneNumberPlatformAdminRequest": {
        "type": "object",
        "required": ["loginPhoneNumber", "loginPassword"],
        "properties": {
          "loginPhoneNumber": {
            "type": "string",
            "description": "شماره تلفن مدیر پلتفرم.",
            "example": "09123456789",
            "pattern": "^09\\d{9}$",
            "minLength": 11,
            "maxLength": 11
          },
          "loginPassword": {
            "type": "string",
            "description": "رمز عبور مدیر پلتفرم.",
            "example": "StrongPassword123",
            "minLength": 1,
            "maxLength": 64
          }
        }
      },

      "LoginWithPhoneNumberPlatformAdminResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "author": {
            "type": "string",
            "example": "Kara_Company"
          },
          "message": {
            "type": "string",
            "example": "عملیات با موفقیت انجام شد."
          },
          "data": {
            "type": "object",
            "properties": {
              "loginSession": {
                "type": "string",
                "format": "uuid",
                "description": "شناسه موقت نشست ورود.",
                "example": "2a8e43dc-be17-4d02-8820-daa3638168b1"
              }
            }
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "example": "0.1.0"
          }
        }
      },

      "ValidationError": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "example": {
          "loginPhoneNumber": ["شماره تلفن باید دقیقاً ۱۱ رقم بوده و با 09 شروع شود."]
        }
      },

      "BusinessError": {
        "type": "object",
        "properties": {
          "error_message": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "example": {
          "error_message": ["درخواست ورود شما قبلاً ثبت شده است. لطفاً به صفحه تأیید بازگردید و کد OTP خود را وارد کنید."]
        }
      },

      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 400
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "author": {
            "type": "string",
            "example": "Kara_Company"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string",
            "example": "E1001"
          },
          "errors": {
            "type": "object",
            "description": "خطاهای اعتبارسنجی یا قوانین کسب‌وکار."
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "example": "0.1.0"
          }
        }
      }
    },

    "responses": {
      "ValidationFailed": {
        "description": "اعتبارسنجی ناموفق."
      },

      "BadRequest": {
        "description": "نقض قوانین کسب‌وکار."
      },

      "Unauthorized": {
        "description": "دسترسی غیرمجاز."
      },

      "Forbidden": {
        "description": "دسترسی ممنوع."
      },

      "NotFound": {
        "description": "منبع موردنظر یافت نشد."
      },

      "Conflict": {
        "description": "تعارض در داده‌ها."
      },

      "TooManyRequests": {
        "description": "تعداد درخواست‌ها بیش از حد مجاز است."
      },

      "InternalServerError": {
        "description": "خطای داخلی سرور.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 500,
              "success": false,
              "author": "Kara_Company",
              "message": "خطای داخلی سرور.",
              "errorCode": "E5000",
              "errors": {},
              "timeStamp": "2026-07-28T19:01:46.652Z",
              "version": "0.1.0"
            }
          }
        }
      }
    }
  },

  "security": [
    {
      "CookieAuth": []
    },
    {
      "BearerAuth": []
    }
  ]
}
